.materialAccordionHeader {
    color: #ffffff;
    width: 100%;
    padding: 1.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #313131;
    background-color: #1C1C1C;
}

.materialAccordionHeader.active {
    border-bottom: 0;
}

.materialAccordionHeader h4 {
    font-size: 1.78rem;
    margin-bottom: 5px;
    padding-bottom: 0.35rem;
}

.materialAccordionHeader.active h4 {
    color: #D6A90B;
}

.materialAccordionHeader p {
    color: #a3a3a3;
    font-size: 1.75rem;
    font-weight: 300;
}

.materialAccordionHeader .dropdownIcon {
    transition: 0.3s ease-in-out;
}

.materialAccordionHeader.active .dropdownIcon {
    transform: rotate(180deg);
}

.materialAccordionContent {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.materialAccordionContent.active {
    padding: 0.01rem;
    border-bottom: 1px solid #313131;
    background-color: rgba(0,0,0,0.2);
}

.materialAccordionContent .materialOutlineLearn li {
    background: #0b0b0b;
    border-bottom: 1px solid #111111
}

.materialAccordionContent .materialOutlineLearn li:hover {
    background: #181818;
}

.materialAccordionContent .materialOutlineLearn li h6 {
    color: #F9F4DE;
    text-overflow: ellipsis;
    overflow: hidden; 
    width: auto;
	
	display: -webkit-box;
    -webkit-line-clamp: 3; /* Limit to 3 lines on new browsers */
    -webkit-box-orient: vertical;  
    max-height: 3.3em;  /* Limit to 3 lines on old browsers */
    line-height: 1.1em;
    white-space: normal;
}

.materialAccordionContent .materialOutlineLearn li p.description {
    color: #c8c8c8;
	
	display: -webkit-box;
    -webkit-line-clamp: 1; /* Limit to 1 lines on new browsers */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 1.1em; /* Limit to 1 lines on old browsers */
    line-height: 1.1em;
    white-space: normal;
}

.materialAccordionContent .materialOutlineLearn li p.materialOutlineExpire {
	color: rgb(212,45,45);
}


.materialAccordionContent .materialOutlineLearn li p.materialOutlineComingSoon {
    color: #926f00;
}

.materialAccordionContent .materialOutlineLearn li p.materialOutlineExpire,
.materialAccordionContent .materialOutlineLearn li p.materialOutlineComingSoon {
    margin-top: 8px;
}


.materialAccordionContent .materialOutlineLearn li:before {
    width: 5px;
    background-color: #222121
}

.materialAccordionContent .materialOutlineLearn .materialOutlineIcon {
    width: 23px;
    height: 23px;
    left: 21px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.materialAccordionContent .materialOutlineLearn .materialOutlineIcon.active {
    background: #F4BE37 !important;
    border-color: #F4BE37 !important;
}

.materialAccordionContent .materialOutlineLearn .materialOutlineIcon.default {
    background: #F4BE37 !important;
    border-color: #F4BE37 !important;
}

.materialAccordionContent .materialOutlineLearn .materialOutlineIcon .fa {
    color: #000000;
}

/* Media Query */
@media (max-width: 768px) {
    .materialAccordionContent .materialOutlineLearn li h6 {
        overflow: unset;
        white-space: normal;
    }
}

/* Media Query */
@media (max-width: 480px) {
    .materialAccordionContent .materialOutlineLearn li h6 {
        overflow: unset;
        white-space: normal;
    }
}