.materialSearchBar {
    position: relative;
}

.materialSearchBar .materialSearchInputDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.materialSearchBar.active .materialSearchInputDiv {
    border-radius: 12px 12px 0 0;
}

.materialSearchBar .materialSearchInputDiv .materialSearchInputWithBtn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    background-color: rgba(37, 36, 36, 0.67);
    border: rgba(37, 36, 36, 0.75);
    border-radius: 8px;
}

.materialSearchBar .materialSearchInputDiv .materialSearchInputWithBtn > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.materialSearchBar .materialSearchInputDiv input {
    width: 450px;
    padding: 0.75rem 1rem;
    margin: 0;
    background-color: transparent;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 1.7rem;
    font-weight: 300;
    transition: 0.5s ease-in-out;
}

.materialSearchBar .materialSearchInputDiv input::placeholder {
    color: #a4a4a4;
    font-weight: 400;
}

.materialSearchBar .materialSearchInputDiv .filterSwitchBtn {
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    background-color: rgba(37, 36, 36, 0.67);
    border: rgba(37, 36, 36, 0.75);
    border-radius: 8px;
}

.materialSearchBar .materialSearchInputDiv .filterSwitchBtn:hover {
    background-color: rgba(37, 36, 36, 0.9);
}

.materialSearchBar.active .materialSearchInputDiv .filterSwitchBtn {
    background-color: rgba(240,176,0,0.5);
}

.materialSearchBar.active .materialSearchInputDiv .filterSwitchBtn:hover {
    background-color: rgba(240,176,0,0.4);
}

.materialSearchBar svg.clearBtn {
    cursor: pointer;
    display: none;
}

.materialSearchBar .materialSearchInputDiv .filterSwitchBtn svg {
    fill: #ffffff;
}

.materialSearchBar .materialSearchInputDiv.active .filterSwitchBtn svg {
    fill: #DAA736;
}

.materialSearchBar .filterFormsContainer {
    display: none;
    background-color: rgba(37, 36, 36, 0.98);
    padding: 2.75rem 1.5rem;
    margin-top: 2.25rem;
    position: absolute;
    top: 37px;
    left: 0;
    width: 100%;
    z-index: 4;
    border-radius: 6px;
    transition: 0.5s ease-in-out;
}

.materialSearchBar .filterFormsContainer .filterBottomButtonDiv {
    display: flex;
    justify-content: flex-end;
    column-gap: 0.25rem;
    margin-top: 2rem;
}

.materialSearchBar.active .filterFormsContainer {
    display: block;
}

.materialSearchBar.active .filterFormsContainer .filterFormsDiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates a two-column grid with equal-width columns */
    gap: 1.75rem;
}

.materialSearchBar.active .filterFormsContainer .materialInputContainer {
    margin: 0
}

.materialSearchBar .filterFormsContainer .filterFormsDiv input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #414141;
    outline: none;
    color: #e3e3e3;
    font-size: 1.4rem;
    font-weight: 300;
    width: 100%;
    padding: 0.7rem 0;
}

/* Media Queries for mobile */
@media (max-width: 768px) {
    .materialSearchBar {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
    }

    .materialSearchBar.active {
        display: block;
    }

    .materialSearchBar.active .materialSearchInputDiv {
        background-color: rgba(37, 36, 36, 0.98);
        padding: 1.5rem;
    }

    .materialSearchBar .materialSearchInputDiv input {
        width: 100%;
    }

    .materialSearchBar.active .filterFormsContainer {
        position: relative;
        top: 0;
        left: 0;
        z-index: 2;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.75rem;
        margin-top: 0;
    }
}