.materialCardsScrolling {
    position: relative;
    width: 100%;
}

.materialCardsScrolling .overlay {
    width: 8.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.materialCardsScrolling .overlay svg {
    width: 3.5rem;
    height: 3.5rem;
    transition: 0.2s ease-in-out;
}

.materialCardsScrolling .overlay:hover svg {
    width: 4rem;
    height: 4rem;
}

.materialCardsScrolling .overlay.scrollLeft {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background: rgb(21,21,21);
    background: linear-gradient(270deg, rgba(21,21,21,0) 0%, rgba(12, 12, 12, 0.45) 70%);
    transition: 0.65s ease-in-out;
}

.materialCardsScrolling .overlay.scrollLeft:hover {
    background: rgb(21,21,21);
    background: linear-gradient(270deg, rgba(21,21,21,0) 0%, rgba(12, 12, 12, 0.65) 70%);
}

.materialCardsScrolling .overlay.scrollRight {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background: rgb(21,21,21);
    background: linear-gradient(90deg, rgba(21,21,21,0) 0%, rgba(12, 12, 12, 0.45) 70%);
    transition: 0.65s ease-in-out;
}

.materialCardsScrolling .overlay.scrollRight:hover {
    background: rgb(21,21,21);
    background: linear-gradient(90deg, rgba(21,21,21,0) 0%, rgba(12, 12, 12, 0.65) 70%);
}

.materialCardsScrolling .materialCardsDiv {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
}

.materialCardsScrolling .materialCardsDiv::-webkit-scrollbar {
    display: none;
}

.materialCardsScrolling .materialCardsDiv > div {
    min-width: 350px;
    padding: 0;
    width: 350px;
    min-height: unset;
}

.materialCardsScrolling .materialCardsDiv > div .materialHeader, 
.materialCardsScrolling .materialCardsDiv > div .materialParagraph,
.infiniteScrollingContainer .materialCard .materialHeader, 
.infiniteScrollingContainer .materialCard .materialParagraph
{
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    text-overflow: none;
    overflow: visible;
    white-space: normal;
    width: 100%;
}

.materialCardsScrolling .materialCardsDiv > div h6.materialParagraph {
    text-transform: uppercase;
}

/* Media Queries for mobile */
@media (max-width: 768px) {
    .materialCardsScrolling .overlay {
        width: 4.5rem;
    }
    
    .materialCardsScrolling .overlay.scrollLeft {
        display: flex;
        justify-content: flex-start;
    }

    .materialCardsScrolling .overlay.scrollRight {
        display: flex;
        justify-content: flex-end;
    }

    .materialCardsScrolling .materialCardsDiv > div {
        min-width: 100%;
        width: 100%;
    }
}


/* Media Queries for tablets */
@media (min-width: 768px) {
    .materialCardsScrolling .materialCardsDiv > div {
        min-width: 100%;
        width: 100%;
    }
}

/* Media Queries for large screens */
@media (min-width: 1200px) {
    .materialCardsScrolling .materialCardsDiv {
        display: flex;
        justify-content: center;
    }
}