.materialFilterPillsContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.materialFilterPillsContainer .overlay {
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.materialFilterPillsContainer .overlay.leftScroll {
    background: rgb(21,21,21);
    background: linear-gradient(90deg, rgba(14,14,14,0.9556197478991597) 0%, rgba(21,21,21,0) 60%);
}

.materialFilterPillsContainer .overlay.rightScroll {
    background: rgb(21,21,21);
    background: linear-gradient(90deg, rgba(21,21,21,0) 0%, rgba(14,14,14,0.9556197478991597) 60%);
}


.materialFilterPillsDiv {
    display: flex;
    gap: 0.65rem;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.materialFilterPillsDiv .materialChipChoice {
    width: 100%;
}

.materialFilterPillsDiv span {
    color: #f9f4de;
    background-color: #313131;
    padding: 0.54rem 1.45rem;
    border-radius: 0.35rem;
    font-size: 1.35rem;
    white-space: nowrap;
    font-weight: 400;
    cursor: pointer;
}

.materialFilterPillsDiv span.active {
    background-color: #f9f4de;
    color: #313131;
}

.materialFilterPillsDiv::-webkit-scrollbar {
    display: none;
}

.materialFilterPillsDiv .materialChip {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    gap: 0.5rem;
    /* padding: 0.5em 1em; */
    margin: 0;
}

.materialFilterPillsDiv .materialChipInputText:after, .materialFilterPillsDiv .materialChipInputText:before {
    color: #000000 !important;
    background-color: #ffd04d;
}

.materialFilterPillsDiv .materialChipInput:checked ~ .materialChipInputText {
    color: #000000;
}

/* Media Query for mobile devices */
@media (max-width: 768px) {
    .materialFilterContainer {
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        padding: 1.25rem;
    }

    .materialFilterPillsContainer {
        width: 100%;
    }

    .materialFilterContainer .materialInputWrap {
        width: 150px;
    }
}