.app_mainContainer {
    width: 100%;
    font-family: 'Lato', sans-serif;
}

.app_mainContainer p, .app_mainContainer h4, .app_mainContainer h6 {
    margin: 0;
}

.app_headerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 128rem;
    margin: 0 auto;
    margin-bottom: -9rem;
}

.app_headerDiv img {
    width: 74px
}

.app_headerDiv .materialBarDashboardNavLink {
    display: block;
}

.materialSearchBar {
    position: relative;
    background-color: rgba(37, 36, 36, 0.67);
    border: rgba(37, 36, 36, 0.75);
    border-radius: 500px;
}

.materialSearchBar .materialSearchInputDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.7rem;
}

.materialSearchBar.active .materialSearchInputDiv {
    padding: 0.75rem 1.7rem;
    border-radius: 12px 12px 0 0;
    background-color: #232323;
}

.materialSearchBar .materialSearchInputDiv input {
    width: 500px;
    padding: 0.75rem 1rem;
    margin: 0;
    background-color: transparent;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 1.7rem;
    font-weight: 300;
    transition: 0.5s ease-in-out;
}

.materialSearchBar .materialSearchInputDiv input::placeholder {
    color: #a4a4a4;
    font-weight: 400;
}

.materialSearchBar .materialSearchInputDiv .filterSwitchBtn {
    cursor: pointer;
}

.materialSearchBar .materialSearchInputDiv .filterSwitchBtn svg {
    fill: #ffffff;
}

.materialSearchBar .materialSearchInputDiv.active .filterSwitchBtn svg {
    fill: #DAA736;
}

.materialSearchBar .filterFormsContainer {
    display: none;
    background-color: rgba(37, 36, 36, 0.98);
    padding: 2.5rem;
    margin-top: 1rem;
    position: absolute;
    top: 37px;
    left: 0;
    width: 100%;
    z-index: 2;
    border-radius: 0 0 12px 12px;
    transition: 0.5s ease-in-out;
}

.materialSearchBar.active .filterFormsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates a two-column grid with equal-width columns */
    gap: 1.75rem;
}

.materialSearchBar.active .filterFormsContainer .materialInputContainer {
    margin: 0
}

/* .materialSearchBar .filterFormsContainer select {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #414141;
    outline: none;
    color: #e3e3e3;
    font-size: 1.4rem;
    font-weight: 300;
    width: 100%;
    padding: 0.7rem 0;
} */

.materialSearchBar .filterFormsContainer input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #414141;
    outline: none;
    color: #e3e3e3;
    font-size: 1.4rem;
    font-weight: 300;
    width: 100%;
    padding: 0.7rem 0;
}

.mobileFilterDivTrigger {
    display: none;
}

/* Media Queries for mobile */
@media (max-width: 768px) {
    .app_headerDiv img {
        width: 65px
    }

    .materialSearchBar {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
    }

    .materialSearchBar.active {
        display: block;
    }

    .materialSearchBar.active .materialSearchInputDiv {
        background-color: rgba(37, 36, 36, 0.98);
        padding: 1.5rem;
    }

    .materialSearchBar .materialSearchInputDiv input {
        width: 100%;
    }

    .materialSearchBar.active .filterFormsContainer {
        position: relative;
        top: 0;
        left: 0;
        z-index: 2;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.75rem;
        margin-top: 0;
    }

    .mobileNavRightContainer {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .mobileFilterDivTrigger {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.05);
        border: 1px solid #393939;
        cursor: pointer;
    }
}

.app_headerDiv .userProfileDiv {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.app_headerDiv .userProfileDiv p {
    color: #A2A2A2;
    font-size: 1.4rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.app_headerBody .app_headerTextDiv {
    margin-top: 13.5rem;
    padding: 0 3rem;
}

.app_headerBody .app_headerTextDiv h4 {
    color: #FFFBDC;
    font-size: 7.65rem;
    font-weight: 300;
    word-wrap: break-word;
    font-weight: 400;
    margin-bottom: 1rem;
}

.app_headerBody .app_headerTextDiv p {
    color: #c8c8c8;
    font-weight: 300;
}

.app_headerBody .app_headerButtonContainer {
    display: flex;
    align-items: center;
    gap: 1.75rem;
    margin-top: 5rem;
}

.app_headerBody .app_headerButtonContainer button {
    margin: 0;
}


.app_ratingsSection {
    width: 100%;
    max-width: 128rem;
    margin: 0 auto;
    margin-top: 4rem;
    padding: 0 3rem;
}

.app_ratingsSection .app_ratingsSectionCard {
    width: 100%;
    padding: 20px 40px;
    background: #1B1B1B;
    border-radius: 4px;
}

.app_ratingsSection .app_ratingsSectionCard.ratingsContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app_ratingsSectionCard.ratingsContent .pianoLevelDiv {
    display: flex;
    align-items: center;
    gap: 3.5rem;
}

.app_ratingsSectionCard.ratingsContent .pianoLevelDiv > div:nth-child(1) {
    padding-right: 2.5rem;
    border-right: 1px solid #343434;
}

.app_ratingsSectionCard.ratingsContent .pianoLevelDiv h2 {
    color: #f5b401;
    font-size: 4.35rem;
    text-align: center;
    margin: 0;
}

.app_ratingsSectionCard.ratingsContent .pianoLevelDiv span {
    color: #aeaeae;
    font-size: 13.5px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: center;
}

.app_ratingsSectionCard.ratingsContent .pianoLevelDiv h4 {
    color: #ffffff;
    font-size: 21px;
}

.app_ratingsSectionCard.ratingsContent .pianoLevelDiv p {
    color: #a9a9a9;
    font-size: 17px;
    font-weight: 400;
    padding-top: 5px;
}

.app_ratingsSection .rewardPointsContainer {
    display: flex;
    gap: 1.75rem;
}

.app_ratingsSection .rewardPointsContainer > div:nth-child(1) {
    width: 60%;
}

.app_ratingsSection .rewardPointsContainer > div:nth-child(2) {
    width: 40%;
}

.app_ratingsSectionCard.rewardPoints {
    display: flex;
    justify-content: space-between;
    gap: 3.5rem;
}

.app_ratingsSectionCard.rewardPoints h4 {
    font-size: 18px;
    color: #e6d3a1;
}

.app_ratingsSectionCard.rewardPoints p {
    color: #a9a9a9;
    font-size: 17px;
    font-weight: 400;
    padding-top: 2px;
}

.app_ratingsSectionCard.rewardPoints div:nth-child(2) p {
    color: #ffbb00;
    padding-top: 0.5rem;
    font-size: 17px;
}

.app_ratingsSectionCard.rewardLevel h4 {
    font-size: 18px;
    color: #e6d3a1;
}

.app_ratingsSectionCard.rewardLevel div.rewardLevelProgress {
    width: 100%;
    height: 7px;
    background-color: #FFFBDC;
    margin-top: 10px;
    border-radius: 100px;
}

.app_ratingsSectionCard.rewardLevel div.rewardLevelProgress div {
    height: 7px;
    background-color: #F5B400;
    border-radius: 100px;
}

.app_ratingsSectionCard .rewardLevelStats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.app_ratingsSectionCard .rewardLevelStats > div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.app_ratingsSectionCard .rewardLevelStats > div p {
    color: #a9a9a9;
    font-size: 15.2px;
    font-weight: 400;
    padding-top: 2px;
    text-transform: uppercase;
}


/* Media Queries for tablet */
@media (max-width: 1024px) {
    .app_ratingsSection .app_ratingsSectionCard.ratingsContent .pianoLevelDiv {
        display: flex;
        flex-wrap: wrap;
        row-gap: 2rem;
    }

    .app_ratingsSection .app_ratingsSectionCard.ratingsContent .pianoLevelDiv > div:nth-child(1) {
        padding-right: 0;
        border-right: none;
    }

    .app_ratingsSection .rewardPointsContainer {
        display: flex;
        flex-wrap: wrap;
    }

    .app_ratingsSection .rewardPointsContainer > div:nth-child(1) {
        width: 100%;
    }

    .app_ratingsSection .rewardPointsContainer > div:nth-child(2) {
        width: 100%;
    }

    .app_ratingsSectionCard.rewardPoints {
        display: flex;
        flex-wrap: wrap;
    }
}


/* Media Queries for mobile */
@media (max-width: 768px) {
    .app_ratingsSection {
        padding: 0 1.5rem;
    }

    .app_ratingsSection .app_ratingsSectionCard {
        padding: 25px;
    }

    .app_ratingsSection .app_ratingsSectionCard.ratingsContent {
        display: flex;
        flex-wrap: wrap;
    }

    .app_ratingsSection .app_ratingsSectionCard.ratingsContent > div {
        width: 100%;
    }

    .app_ratingsSectionCard.ratingsContent .pianoLevelDiv {
        display: flex;
        flex-wrap: wrap;
        row-gap: 2rem;
    }

    .app_ratingsSectionCard.ratingsContent .pianoLevelDiv > div:nth-child(1) {
        padding-right: 0;
        border-right: none;
    }

    .app_ratingsSection .rewardPointsContainer {
        display: flex;
        flex-wrap: wrap;
    }

    .app_ratingsSection .rewardPointsContainer > div:nth-child(1) {
        width: 100%;
    }

    .app_ratingsSection .rewardPointsContainer > div:nth-child(2) {
        width: 100%;
    }

    .app_ratingsSectionCard.rewardPoints {
        display: flex;
        flex-wrap: wrap;
    }
}


.app_coursesCardsSection {
    width: 100%;
    max-width: 128rem;
    margin: 0 auto;
    padding: 0 3rem;
    margin-top: 7rem;
}

.app_coursesCardsContainer {
    margin: 4rem 0;
}

.app_coursesCardsContainer p {
    color: #F9F4DE;
    text-transform: uppercase;
    font-size: 1.75rem;
    margin-bottom: 2.5rem;
}





/* Media Queries for mobile */
@media (max-width: 768px) {
    .app_coursesCardsSection {
        padding: 0 1.5rem;
        margin-top: 2.5rem;
    }

    .app_coursesCardsContainer {
        margin: 1rem 0;
    }

    .materialFilterPillsContainer .overlay {
        width: 5rem;
    }
}



/* History */

.app_historySearch {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 2rem;
}

.app_historySearch .searchInput input {
    width: 300px;
    padding: 0.9rem 1.5rem;
    background-color: rgba(255, 255, 255, 0.15);
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 300;
    border-radius: 500px;
}

.app_historySearch .searchInput input::placeholder {
    color: rgba(255, 255, 255, 0.2);
}

.app_historySearch .clearHistoryDiv {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    opacity: 0.75;
    transition: 0.35s ease-in-out;
}

.app_historySearch .clearHistoryDiv:hover {
    opacity: 1;
}

.app_historySearch p {
    color: #f9f4de;
    white-space: nowrap;
}

.materialCardsContainer .materialCardsDiv {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
}

.materialCardsContainer .materialCardsDiv > div {
    width: 32%;
}

.materialCardsContainer .materialCard > div {
    margin-bottom: 0;
}

/* Media Queries for tablet */
@media (max-width: 1024px) {
    .materialCardsContainer .materialCardsDiv > div {
        width: 48%;
    }
}

/* Media Queries for mobile */
@media (max-width: 768px) {
    .app_historySearch {
        column-gap: 1rem;
        margin-bottom: 4rem;
    }

    .materialCardsContainer .materialCardsDiv > div {
        width: 100%;
    }

    .app_historySearch .searchInput {
        width: 100%;
    }

    .app_historySearch .searchInput input {
        width: 100%;
    }
}




/* Course */
.maxWidthContainer {
    width: 100%;
    max-width: 128rem;
    margin: 0 auto;
}


.app_heroHeader {
    width: 100%;
    position: relative;
    background-image: url("../images/newImages/courseCover.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
}

.app_heroHeader > div {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.85);
    padding: 0 2rem;
}

.app_heroHeader .app_heroSection {
    padding-top: 20rem;
}

.app_heroHeader .app_heroSection h4 {
    color: #FFFBDC;
    font-size: 7.65rem;
    font-weight: 300;
    word-wrap: break-word;
    font-weight: 400;
    margin-bottom: 1rem;
}

.app_heroHeader .app_heroSection p {
    color: #c8c8c8;
    font-weight: 300;
    font-size: 18px;
}

.app_heroHeader .app_heroSection  .app_headerButtonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}

.app_heroHeader .app_heroSection  .app_headerButtonContainer > div {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.app_heroHeader .app_heroSection  .app_headerButtonContainer button {
    margin: 0;
}

.app_heroHeader .app_heroSection  .app_headerButtonContainer p {
    color: rgba(255, 255, 255, 0.73);
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.25rem
}

/* Media Queries for tablet */
@media (max-width: 1024px) {
    .app_heroHeader {
        height: 50vh;
    }
    .app_heroHeader .app_heroSection {
        padding-top: 10rem;
    }
    .app_heroHeader .app_heroSection h4 {
        font-size: 7rem;
    }
}


@media (max-width: 768px) {
    .app_heroHeader {
        height: 65vh;
    }
    .app_heroHeader .app_heroSection {
        padding-top: 16rem;
    }
    .app_heroHeader .app_heroSection h4 {
        font-size: 4.25rem;
    }
    .app_heroHeader .app_heroSection p {
        font-size: 1.4rem;
    }
    .app_heroHeader .app_heroSection .app_headerButtonContainer {
        flex-wrap: wrap;
    }
}


.app_lessonOverviewSection {
    /* padding: 0 2rem; */
    margin-top: 5rem;
}

.app_lessonOverviewSection .lessonProgress {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.app_lessonOverviewSection .lessonProgress p {
    color: rgba(255, 255, 255, 0.73);
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.25rem
}

.app_lessonOverviewSection p.lessonDescription {
    color: #EFEAE3;
    font-size: 1.75rem;
    margin-top: 2.5rem;
    font-weight: 300;
}

.app_lessonOverviewSection .overallRatings {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 3.5rem;
}

.app_lessonOverviewSection .overallRatings p {
    color: #D6A90B;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.25rem
}

@media (max-width: 768px) {
    .app_lessonOverviewSection {
        padding: 0 2rem;
    }

    .app_lessonOverviewSection .overallRatings {
        margin-top: 2rem;
    }
}

.app_lessonContentSection {
    /* padding: 0 2rem; */
}

.app_lessonContentOverview {
    border: 0.85px solid #373737;
    background-color: #111111;
}

.app_lessonContentOverview > div {
    padding: 2.2rem 2rem;
}

.app_lessonContentOverview h6 {
    color: #FFFFFF;
    font-size: 2.2rem;
    padding-bottom: 0.35rem;
}

.app_lessonContentOverview p {
    color: rgba(255, 255, 255, 0.73);
    font-size: 1.6rem;
}

.app_lessonContentOverview .app_lessonContentOverviewProgress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2D2D2D;
    padding: 2.2rem 2rem;
}

.app_lessonContentOverview .app_lessonContentOverviewProgress p {
    color: #B9B9B9;
    font-size: 1.5rem;
    font-weight: 300;
}

.app_lessonContentOverview .app_lessonContentOverviewProgress p:nth-child(2) {
    color: #FFFFFF;
}



/***** Lesson *****/
.app_LessonContainer {
    display: flex;
    gap: 4rem;
}

.app_LessonContainer .lessonPreview {
    position: relative;
    width: 100%;
    background-color: #333333;
}

.app_LessonContainer .lessonPreview.lesson {
    background-image: url("../images/newImages/lessonCover.png");
}

.app_LessonContainer .lessonPreview.article {
    position: relative;
}

.app_LessonContainer .lessonPreview.article .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background: rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.app_LessonContainer > div:nth-child(1) {
    width: 67%;
}

.app_LessonContainer > div:nth-child(2) {
    width: 33%;
}

.app_LessonContainer .app_lessonOverviewSection .courseTitle {
    margin-bottom: 2rem;
}

.app_LessonContainer .app_lessonOverviewSection .courseTitle h4 {
    color: #FFFFFF;
    font-size: 3.5rem;
    padding-bottom: 0.35rem;
}

.app_LessonContainer .app_lessonOverviewSection .courseTitle p {
    color: rgba(255, 255, 255, 0.73)
}

.app_LessonContainer .app_lessonOverviewSection .lessonProgress {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app_LessonContainer .app_lessonContentSection {
    /* margin-top: 4rem; */
}

.app_LessonContainer .app_LessonRatings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}


/* Media Queries for tablet */
@media (max-width: 1024px) {
    .app_LessonContainer {
        flex-wrap: wrap;
    }

    .app_LessonContainer > div:nth-child(1) {
        width: 100%;
    }

    .app_LessonContainer > div:nth-child(2) {
        width: 100%;
    }

    .app_LessonContainer .app_lessonContentSection {
        margin-top: 0;
    }
}

/* Media Queries for mobile */
@media (max-width: 768px) {
    .app_LessonContainer {
        flex-wrap: wrap;
    }

    .app_LessonContainer > div:nth-child(1) {
        width: 100%;
    }

    .app_LessonContainer > div:nth-child(2) {
        width: 100%;
    }

    .app_LessonContainer .app_lessonContentSection {
        margin-top: 0;
    }
}


/***** Article *****/
.app_articleContentSection {
    background-color: #ffffff;
    border-radius: 4px;
    padding: 2.4rem 2rem;
}

.app_articleContentSection .app_articleContentHeader {
    padding-bottom: 0.35rem;
}

.app_articleContentSection .app_articleContentHeader h4 {
    color: 4E4535;
    font-size: 3.5rem;
    text-transform: uppercase;
}

.app_articleContentSection .app_articleContentHeader p {
    color: 4E4535;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.app_articleContentSection .lessonProgress {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.app_articleContentSection .lessonProgress p {
    color: #252423;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem
}

.app_articleContentSection .overallRatings {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.app_articleContentSection .overallRatings p {
    color: #705702;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.25rem
}



.materialBreadCrumbs {
    color: #7E7E7E;
    display: flex;
    row-gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    list-style-type: none;
    font-size: 1.5rem;
}

.materialBreadCrumbs li {
    white-space: nowrap;
}

.materialBreadCrumbs li::after {
    content: "\00BB";
    font-size: 1.5rem;
    color: #7E7E7E;
    margin: 0 0.75rem;
    cursor: pointer;
}

.materialBreadCrumbs li:last-child {
    color: #EFEAE3;
}

.materialBreadCrumbs li:last-child::after {
    content: "";
    color: #F9ECC8;
}

@media (max-width: 768px) {
    .materialBreadCrumbs {
        padding: 0 2rem;
    }
}